.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.80);
    cursor: pointer;
}

.setPlayerContainer{
    width: 80vw;
    height: 80vh;
    border: 2px solid white;
    box-shadow: 4px 4px 2px black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 100;
    top: 10vh;
    left: 20vh;
    background-color: purple;
}
 

/* ______ SET PLAYERS _______*/

.setPlayerContainer form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500px;
    overflow: scroll;
  
}

.setPlayerContainer form label{
    margin-top: 5px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 50px;
    font-size: 1.4rem;
    text-align: center;
  
}

.setPlayerContainer form input{
    margin: 3px;
    width: 100%;
    height: 50px;
    font-size: 1.3rem;
    text-align: center;
    background-color: hsla(300, 100%, 85%, 0.5);
    border: none;
}






/* _______ SET BUTTONS ______*/

.setButtons{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.setButtons button, .startButton{
    border: 2px solid black;
    background-color: transparent;
    width: 200px;
    height: 50px;
    cursor: pointer;
    margin: 30px 0px;
    letter-spacing: 1px;
}
