.appContainer{
  background-color: purple;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}


.gameTitle{

  position:relative;
  top: 30px;
}

h1{
  color: white;
}

.getPlayersBtn{
  border: 5px solid white;
  color: purple;
  font-size: 2rem;
  width: 300px;
  height: 100px;
  position: absolute;
  top: 200px;
  cursor: pointer;

}

.getPLayersBtn:active{
  transform: scale(0.9)
}

.playerContainer{
  display: flex;
  border: 2px solid rgba(0, 0, 0, 0.5);
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.players{
  margin: 20px;
 
}
